# Virtual environment


.venv/
venv/


# Python


__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/


# Environment variables / secrets

.env


# IDE

.vscode/
.idea/


# Testing / coverage


.pytest_cache/
.coverage
htmlcov/


# ChromaDB local vector database

chroma_db/
chroma_langchain_db/


# OS files

.DS_Store
Thumbs.db